<template>
    <v-row dense align="center"
           justify="center">
        <v-col md="10">
            <number-input
                    :title="`Контролл 1`"
                    :control="firstControl"
                    :icon="`mdi-plus-box-multiple-outline`"
                    :appendAction="sumData"
            />
            <number-input
                    :title="`Контролл 2`"
                    :control="connectedControls"
                    :icon="`mdi-plus`"
                    @connectControls="connectControls"
                    :connected="true"
                    :appendAction="thousand"
            />
            <number-input
                    :title="`Контролл 3`"
                    :control="connectedControls"
                    @connectControls="connectControls"
                    :connected="true"
            />
        </v-col>
    </v-row>
</template>

<script>
    import NumberInput from '@/components/NumberInput'
    export default {
        name: "Controls",
        data: () => ({
            firstControl: 0,
            connectedControls: 0,
        }),
        components: {
            NumberInput
        },
        methods: {
            connectControls(data){
                this.connectedControls = data.connectedControlsValue
                this.$emit('updateConnectedControlsValue', this.connectedControls)
            },
            sumData(){
                this.firstControl = this.connectedControls*2
                this.$emit('updateSumData', this.firstControl)
            },
            thousand(){
                this.connectedControls = 1000
                this.$emit('updateThousand', this.connectedControls)
            }
        }
    }
</script>

<style lang="less">
    .input-wrapper{
        position: relative;
        .v-btn{
            position: absolute;
            top: 45px;
            left: 6px;
        }
    }
    .v-btn{
        &.input-invoker{
            font-size: 16px !important;
            font-weight: normal;
            letter-spacing: normal;
            &:before{
                background: transparent !important;
            }
            &:hover{
                color: #81aeed;
                .v-btn__content{
                    .v-icon{
                        transition: none !important;
                    }
                }
            }
        }
    }
</style>