<template>
    <div class="d-flex align-center">
        <span>{{title}}</span>
        <v-btn class="input-invoker pl-5" height="74" text @focus="showFirstControl" v-if="!thisControlFocused" @click="showFirstControl">
            <span>{{thisControl.toLocaleString('ru')}}</span>
            <v-icon right>mdi-chevron-down</v-icon>
        </v-btn>
        <div class="input-wrapper" v-else>
            <v-text-field
                    ref="numberInput"
                    class="mx-4 mt-2 pl-1"
                    :autofocus="thisControlFocused"
                    @focus="onFocus"
                    @blur="onBlur"
                    v-model.number="thisControl"
                    min="0"
                    step="1"
                    style="width: 150px"
                    type="number"
                    @keydown.enter="saveData"
                    @keydown.esc="cancel"
                    @keydown.tab="saveData"
                    @keydown.shift.tab="saveData"
                    :append-icon="icon"
                    @click:append="appendAction"
            ></v-text-field>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NumberInput",
        props: {
            title: {
                type: String,
                default: '',
            },
            control: {
                type: Number,
                default: 0,
            },
            icon: {
                type: String,
                default: null,
            },
            connected: {
                type: Boolean,
                default: false
            },
            appendAction: {
                type: Function,
                default: () => Promise.resolve()
            },
        },
        data: () => ({
            thisControl: null,
            initThisControlValue: null,
            thisControlFocused: false,
        }),
        methods: {
            onFocus(event) {
                this.thisControlFocused = true
                this.initThisControlValue = this.thisControl
                this.select(event)
            },
            onBlur() {
                this.thisControlFocused = false
                this.thisControl = this.initThisControlValue
            },
            select(event){
                event.target.select()
            },
            showFirstControl(){
                this.thisControlFocused = !this.thisControlFocused
                this.$nextTick(() => {
                    this.$refs.numberInput.focus()
                })
            },
            saveData(){
                if (this.thisControl) {
                    this.initThisControlValue = this.thisControl
                } else {
                    this.thisControl = 0
                    this.initThisControlValue = 0
                }
                this.thisControlFocused = !this.thisControlFocused
                if (this.connected) {
                    this.$emit('connectControls', {
                        connectedControlsValue: this.thisControl,
                    })
                }
            },
            cancel(){
                this.thisControlFocused = !this.thisControlFocused
                this.thisControl = this.initThisControlValue
            },
            setValue(value) {
                this.thisControl = value
            }
        },
        created() {
            this.thisControl = this.control
            this.initThisControlValue = this.thisControl
            if (this.connected) {
                this.$parent.$on('updateConnectedControlsValue', this.setValue)
            } else {
                this.$parent.$on('updateSumData', this.setValue)
            }
            if (this.icon === 'mdi-plus') {
                this.$parent.$on('updateThousand', this.setValue)
            }
        }
    }
</script>

<style scoped>

</style>