<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
    </v-app-bar>

      <v-content>
          <v-container fluid>
              <controls/>
          </v-container>
      </v-content>
  </v-app>
</template>

<script>
import Controls from '@/components/Controls'
export default {
  name: 'App',
components: {
    Controls
},
  data: () => ({
    //
  }),
};
</script>
